services:
  php_81:
    image: lephare/php:8.1
    build:
      args: &build-args
        PHP_VERSION: "8.1"
        PHP_EXTENSIONS: "@composer apcu exif gd imagick intl memcached opcache pdo_mysql pdo_pgsql pgsql soap xdebug zip"
        PHP_TIMEZONE: "Europe/Paris"
      x-bake: &build-x-bake
        platforms:
          - linux/amd64
          - linux/arm64

  php_82:
    image: lephare/php:8.2
    build:
      args:
        <<: *build-args
        PHP_VERSION: "8.2"
      x-bake: *build-x-bake

  php_83:
    image: lephare/php:8.3
    build:
      args:
        <<: *build-args
        PHP_VERSION: "8.3"
      x-bake: *build-x-bake

  php_84:
    image: lephare/php:8.4
    build:
      args:
        <<: *build-args
        PHP_VERSION: "8.4"
        PHP_TIMEZONE: "UTC"
      x-bake: *build-x-bake
      tags:
        - lephare/php:8.4

  php_85:
    image: lephare/php:8.5
    build:
      args:
        <<: *build-args
        PHP_EXTENSIONS: "@composer apcu exif gd imagick intl memcached opcache pdo_mysql pdo_pgsql pgsql soap zip" # remove after xdebug is fixed
        PHP_VERSION: "8.5"
        PHP_TIMEZONE: "UTC"
      x-bake: *build-x-bake
      tags:
        - lephare/php:8.5
        - lephare/php:8
        - lephare/php:latest
